.container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas:
        "header header"
        "sidebar main";
    background-color: var(--white);
}

@media (max-width: 600px) {
    .container {
        grid-template-areas:
            "header header"
            "main main"
            "sidebar sidebar";
    }
}
