.workspace {
    grid-area: main;
    background-color: var(--white);
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px 30px;
    & .date {
        text-align: center;
        color: var(--grey-text-color);
    }
    & .editArea {
        display: flex;
        flex-direction: column;
        gap: 25px;

        textarea,
        input {
            white-space: pre-wrap;
            background: transparent;
            border: none;
            color: var(--text-color);
            resize: none;
            font-size: 1rem;
            padding: 0;
        }
        & textarea:focus,
        input:focus {
            outline: none;
        }
        & textarea::placeholder,
        input::placeholder {
            color: var(--text-color);
        }
        & .markdown {
            &Empty {
                color: var(--grey-text-color);
            }
            p {
                font-size: 1rem;
                cursor: default;
            }
        }
    }
}
